version: 2
jobs:
  build:
    working_directory: /temp
    docker:  
      - image: mono:latest
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OUTPUT: 1
    steps:
      - checkout
      - run: msbuild Analytics/Analytics.csproj /t:restore
      - run: msbuild Analytics/Analytics.csproj /p:Configuration=Release
      - run: msbuild Analytics.NetStandard20/Analytics.NetStandard20.csproj /t:restore
      - run: msbuild Analytics.NetStandard20/Analytics.NetStandard20.csproj /p:Configuration=Release
      - run: msbuild Analytics.Net35/Analytics.Net35.csproj /t:restore
      - run: msbuild Analytics.Net35/Analytics.Net35.csproj /p:Configuration=Release
      - run: msbuild Analytics.Net45/Analytics.Net45.csproj /t:restore
      - run: msbuild Analytics.Net45/Analytics.Net45.csproj /p:Configuration=Release
      - run: nuget pack Analytics.nuspec
  test:
    working_directory: /test
    docker:  
      - image: microsoft/dotnet:1.1.1-sdk
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OUTPUT: 1
    steps:
      - checkout
      - run: dotnet restore Test/Test.csproj
      - run: dotnet test Test/Test.csproj
  test_35:
    working_directory: /test35
    docker:  
      - image: mono:latest
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OUTPUT: 1
    steps:
      - checkout
      - run: nuget restore
      - run: msbuild Test.Net35/Test.Net35.csproj /t:restore
      - run: msbuild Test.Net35/Test.Net35.csproj /p:Configuration=Release
      - run: mono --debug ./packages/NUnit.ConsoleRunner.3.7.0/tools/nunit3-console.exe Test.Net35/bin/Release/Test.Net35.dll
  test_45:
    working_directory: /test45
    docker:  
      - image: mono:latest
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OUTPUT: 1
    steps:
      - checkout
      - run: nuget restore
      - run: msbuild Test.Net45/Test.Net45.csproj /t:restore
      - run: msbuild Test.Net45/Test.Net45.csproj /p:Configuration=Release
      - run: mono --debug ./packages/NUnit.ConsoleRunner.3.7.0/tools/nunit3-console.exe Test.Net45/bin/Release/Test.Net45.dll
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      - test_35
      - test_45